/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Common */
body {
    font-family: 'Lobster', cursive;
}
.carouselContainer {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 2rem #000;
}
.active {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(59, 23, 23, 0.5);
}

/* Body */
h1 {
    padding: 20px 0px;
    text-align: center;
}
.carouselContainer img,
.carouselSearch img {
    width: 100%;
    display: block;
}
.carouselContainer i {
    line-height: 100%;
    font-size: 50px;
    padding: 0 10px;

}
.angleContainer {
    line-height: 669.38px;
    background-color: rgb(211, 211, 211);
}
.imageName {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 10px;
    font-size: 20px;
}
.carouselSearch {
    margin: 50px auto;
    width: 50%;
    display: flex;
}
.divImage {
    width: 20%;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}



/* Effetti hover */
.angleContainer:hover {
    background-color: rgb(179, 179, 179);
}